@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Notch", sans-serif;
}

body {
     min-height: 100vh;
    background: linear-gradient(180deg, #8e44ad, #2980b9);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
}

#trivia-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 15px;
}

.trivia-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}